@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
button, textarea{
    border:none;
    resize:none;
    border-radius:5px;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: Roboto;
}
.site-footer {
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #333;
    margin-top: 40px;
}
p{
    color:white;
    margin-left: 2%;
}
button{
    font-size: 15px;
    color:rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
    height:30px;
}
button:hover{
    color:rgb(100, 100, 100);
    background-color: rgb(30, 30, 30);
}
a{
    font-size: 15px;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
    padding: 8px 8px 8px 32px;
    text-decoration: none;
}
a:hover{
    color:rgb(100, 100, 100);
    background-color: rgb(30, 30, 30);

}
.container {
    display: flex;
    gap: 1%;
    margin: 1% 2% 1% 2%;
}
.subcontainer{
    display: flex;
    gap: 1%;
}
#NavBtn{
    margin-left: 2%;
    font-size:20px;
    cursor:pointer;
    color:rgb(200,200,200);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #8e8e8e;
}

.sidenav .closebtn {
  position: absolute;
  background-color: rgb(50, 50, 50);
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#appIcon{
    height:15vh;
    width: 15vh;
    margin-left:22%;
    margin-bottom: 5%;
}