#promptCont{
    display: flex;
    gap: 0%;
}
#title{
    color:white;
    margin-left: 2%;
    font-size:20px;
}
#initBtn, #startBtn{
    margin-left: 2%;
}
#output,#noteBox,#promptBox{
    color:white;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    outline: none;
    padding: 10px;
}
#promptBox{
    flex:1;
    color: #aaa;
    height: 40px;
    border-radius: 15px;
    overflow-y: auto;
}
#startBtn{
    margin-right: 1%;
    height: 40px;
    border-radius: 15px;
    flex-shrink: 0;
    background-color: rgb(60,60,60);
}
#output{
    display: flex;
    white-space: pre-wrap;
    height:60vh;
    flex:1;
    overflow-y: auto;
}
#output ul {
    margin: 0;
    padding-left: 20px;
}
#output li {
    margin-bottom: 4px;
}
#notes{
    display: none;
}
#noteBox{
    height:60vh;
    width:35vw;
}